<!doctype html>
<html lang="en" class="h-100 lh-solid">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Probably the best Gerber viewer on the internet" />
    <meta name="author" content="Mike Cousins" />
    <title>tracespace view</title>
    <link rel="shortcut icon" href="/src/images/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/src/images/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/src/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="/src/images/favicon-64x64.png" />
  </head>
  <body">
    <div data-hook="root" class="h-screen"></div>
    <script type="module" src="/src/bootstrap.tsx"></script>
  </body>
</html>
